/* Inserta tu CSS aqui */
.verde{
	background: #1eeb5f;
}

.borde{
	border: 2px solid #fff;
}

.contenedor{
	width: 1000px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
}

.cancha{
	width: 950px;
	height: 550px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 25px;
}

.arcoizquierdo{
	width: 100px;
	height: 250px;
	position: absolute;
	top: 150px;
	left: -2px;
}

.arcoderecho{
	width: 100px;
	height: 250px;
	position: absolute;
	top: 150px;
	right: 0px;
	right: -2px;
}

.medio{
	width: 250px;
	height: 250px;
	border-radius: 150px;
	position: relative;
	margin: auto;
	top: 140px;
}

.pelota{
	position: absolute;
}

.posicionx{
	top: 155px;
	left: 90px;
}

.posiciony{
	top: 100px;
	right: 410px;
}

.posicionz{
	bottom: 155px;
	right: 110px;
}
